
.conatiner{
    background-color:rgb(88, 151, 139);
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 600px;
    height: fit-content;
    text-align: center;
    padding: 20px;
    border: 2px solid;
    border-radius: 10px;
}
.sectionHeading{
    text-align: center;
    margin: auto;
    width: 400px; 

}
.gameContainer{
    margin: auto;
    background-color: rgb(152, 152, 152);
    /* height: 400px;
    width: 400px; */
    border: 3px solid hsl(60, 1%, 24%);
    box-shadow: 5px;
    display: flex;
    flex-wrap: wrap;
}
.gameContainer div{
    height: 40px;
    width: 40px;
    border: 2px solid;
    border-color: #f5f3eb ;
    border-radius: 5px;
    box-sizing: border-box;
}

.bomb{
    /* background-color: rgb(205, 99, 49); */

}

.checked{
    background-color: rgb(146, 195, 232);
}

.result{
    text-align: center;
    margin: auto;
    width: 400px; 

}
.result input{
    padding: 5px;
    margin-top: 5px;
}
.gameContainer div{
 height: 40px;
 width: 40px;
 text-align: center;
}

.hidden{
  
    display:none;
}

